<html lang="en">
<head>
    <% include ../partials/header %>
</head>
<body class="container">

  <header>
    <% include ../partials/nav %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>Contact Me</h1>
      <a href="https://github.com/crlooby" target="_blank"><i class="fa fa-github fa-2x"></i></a>
      <a href="https://www.linkedin.com/in/crlooby/" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
      <a href="mailto:crlooby@mit.edu"><i class="fa fa-envelope fa-2x"></i></a>
      <br>
      <br>
      <img class="small-image" src="/images/mit_dome.jpg">
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
<script>
  document.getElementById('contact').classList.add('active');
</script>
</html>
