<html lang="en">
<head>
  <% include ../partials/header %>
</head>
<body class="container">

  <header>
    <% include ../partials/nav %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>Catherine Looby</h1>
      <p>Physics and Electrical Engineering | MIT 2019</p>
    </div>
    <div class="content">
      <p>
        Hi! I'm Catherine, a sophomore at the <strong>Massachusetts Institute of Technology</strong> double majoring in physics and electrical engineering. I love learning new things, especially pertaining to physics and computers. When I was little, I always wanted to know how things worked and why they happened. At MIT, I have learned how to approach the answers these questions, rather than focusing on the answer itself.
      </p>
      <p>
        <br>
        <img class="company-logo" src="images/MIT.jpeg">
        MIT has been a wonderful experience filled with amazing opportunities and unique experiences. Classes do not focus on memorization, but rather teach students a way of thinking and analyzing information. The people are what truly makes this place amazing. Never have I met people with so much passion and a desire to share that passion with others than at MIT.</p>
      <p>
        One experience that has been the most influential for me is a research position at one of the brain and cognitive science labs. Ever since I learned about autism in fifth grade, I have had a passion for learning more about research in autism. Since February, I have been working as an undergraduate researcher in Evelina Fedoreko's language laboratory in which I have assisted in using EEGs to test the N400 brain wave in ASD and non-ASD patients. By using both EEGs and fMRIs, we are making a bio-marker for autism. I hope to aid in finding better treatments for autism using my knowledge in physics, computer science, and electrical engineering. 
      </p>
      <p>
        In my free time, I usually hang out and work on problem sets with friends from my dorm. My hobbies include running, listening to music, and running while listening to music. I also enjoy playing piano and writing poetry. I am always up for an adventure with friends, which includes rock climbing, camping, and exploring the wonders of Boston!
      </p>
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
<script>
  document.getElementById('home').classList.add('active');
</script>
</html>
